body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: center;
}

main {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input,
textarea,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

button {
    padding: 12px 20px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

/* Tabela de pacientes */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f8f8f8;
}

td form {
    display: inline;
}
.prioridade-normal {
    font-weight: bold;
}

.prioridade-preferencial {
    font-weight: bold;
    background-color: #fff3cd;
}

.prioridade-urgente {
    font-weight: bold;
    background-color: #f8d7da;
}