<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Sistema Hospitalar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <h1>Sistema Hospitalar</h1>
    </header>

    <main>

        <h2>Bem-vindo!</h2>

        <p>
            Gerencie os pacientes e organize os atendimentos.
        </p>

        <section>

            <h3>Pacientes</h3>

            <button>Cadastrar paciente</button>

            <button>Ver pacientes</button>

        </section>

    </main>

</body>

</html>